  body {

      margin: 0;

      height: 100vh;

      font-family: 'Poppins', sans-serif;

    }

    .bg-login {

      height: 100vh;

      width: 100%;

      background: 

        linear-gradient(

          to top right,

          rgba(0, 0, 0, 0.95) 25%,

          rgba(0, 0, 0, 0.7) 50%,

          rgba(0, 0, 0, 0.2) 75%,

          transparent 100%

        ),

        url('https://images.unsplash.com/photo-1521791136064-7986c2920216') no-repeat center;

      background-size: cover;

      display: flex;

      align-items: center;

      padding-left: 8%;

    }

    .login-box {

      max-width: 350px;

      width: 100%;

      color: white;

    }

    .login-title {

      font-size: 2rem;

      font-weight: 600;

      margin-bottom: 30px;

    }

    .form-control {

      background-color: #dcdcdc;

      border: none;

      height: 45px;

      margin-bottom: 15px;

    }

    .btn-login {

      background-color: #1c2f5c;

      border-radius: 30px;

      color: white;

      width: 100%;

      padding: 10px;

    }

    .btn-login:hover {

      background-color: #162447;

    }

    .forgot {

      font-size: 0.85rem;

      color: #ccc;

      margin-top: 10px;

      display: block;

    }

    @media (max-width: 768px) {

      .bg-login {

        padding: 20px;

        justify-content: center;

      }

    }