.sidebar{

    width:230px;
    height:100vh;

    background:#fff;

    position:fixed;

    left:0;
    top:0;

    border-right:1px solid #ddd;

    z-index:1000;

}

.logo{

    display:flex;
    align-items:center;
    gap:12px;

    padding:25px 20px;

}

.logo img{
    width:42px;
}

.logo span{

    font-size:20px;
    font-weight:800;

    color:#1f458f;

}

.menu{

    padding:10px;

}

.menu a{

    display:flex;
    align-items:center;
    gap:12px;

    text-decoration:none;

    color:#111;

    padding:15px 16px;

    border-radius:14px;

    margin-bottom:8px;

    transition:.3s;

    font-weight:700;

}

.menu a:hover{

    background:#f4f6fb;

}

.menu a.active{

    background:#1f458f;
    color:#fff;

}

.btn-sidebar-mobile{

    display:none;

}

.sidebar-overlay{

    display:none;

}

@media(max-width:900px){

    .btn-sidebar-mobile{

        display:flex;

        position:fixed;

        top:15px;
        left:15px;

        width:50px;
        height:50px;

        border:none;

        border-radius:12px;

        background:#1f458f;
        color:#fff;

        align-items:center;
        justify-content:center;

        z-index:1002;

        font-size:20px;

    }

    .sidebar{

        transform:translateX(-100%);

        transition:.3s;

    }

    .sidebar.active{

        transform:translateX(0);

    }

    .sidebar-overlay{

        display:block;

        position:fixed;

        inset:0;

        background:rgba(0,0,0,.4);

        opacity:0;

        pointer-events:none;

        transition:.3s;

        z-index:999;

    }

    .sidebar-overlay.active{

        opacity:1;

        pointer-events:all;

    }

}