body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #D6DDDE;
}

/* HEADER */
.topbar {
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid #cfcfcf;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: #14284b;
  font-size: 20px;
}

.logo-img {
  width: 40px;
}

.user-area {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 42px;
  height: 42px;
  background: #14284b;
  border-radius: 50%;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  height: calc(100vh - 70px);
  background: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #d0d0d0;
}

.menu {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  background: transparent;
  text-align: left;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.menu.active {
  background: #2d5bd1;
  color: white;
}

.menu:hover {
  background: #e4e4e4;
}

/* CONTEÚDO */
.content {
  flex: 1;
  display: flex;
  gap: 60px;
  padding: 40px;
}

/* CARDS */
.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
}

.card-box {
  background: #efefef;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.card-box span {
  font-weight: 600;
}

/* RELÓGIO */
.clock-box {
  background: #efefef;
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.clock-box i {
  font-size: 24px;
}

.clock {
  font-size: 48px;
  font-weight: bold;
  margin: 10px 0;
}

.date {
  font-size: 14px;
  color: #555;
}