body {
background-color: #D6DDDE;
}

.sidebar {
height: 100vh;
background:#14284b;
color: white;
}

.logo-branca{
height:40px;
width:auto;
}

.sidebar a {
color: white;
text-decoration: none;
display: block;
padding: 12px;
border-radius: 8px;
}

.sidebar a:hover {
background: rgba(255,255,255,0.1);
}

.card-dashboard {
border-radius: 12px;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.content {
padding: 20px;
background-color: #f0f4f5;
}

@media (max-width: 768px) {
.sidebar {
height: auto;
}
}
