body{
background:#eef1f6;
}

/* navbar */
.navbar{
background:#2c71bf;
height:65px;
}

.logo-branca{
height:40px;
width:auto;
}

/* hero */
.hero{
padding:80px 0;
}

.hero-title{
font-size:42px;
font-weight:700;
}

.hero-text{
color:#5a5a5a;
font-size:18px;
}

.hero-image{
width:100%;
height:400px;
background:#c9d2e5;
border-radius:20px;
}

/* cards */
.feature-card{
border-radius:14px;
padding:20px;
background:white;
border:1px solid #dcdcdc;
display:flex;
align-items:center;
gap:15px;
}

.icon{
font-size:28px;
}

/* footer */
.footer{
height:60px;
background:#2c71bf;
margin-top:60px;
}
